/*
Deployment script for CRM_DEV

This code was generated by a tool.
Changes to this file may cause incorrect behavior and will be lost if
the code is regenerated.
*/

GO
SET ANSI_NULLS, ANSI_PADDING, ANSI_WARNINGS, ARITHABORT, CONCAT_NULL_YIELDS_NULL, QUOTED_IDENTIFIER ON;

SET NUMERIC_ROUNDABORT OFF;


GO
:setvar ContosoRetailDW "ContosoRetailDW"
:setvar DatabaseName "CRM_DEV"
:setvar DefaultFilePrefix "CRM_DEV"
:setvar DefaultDataPath "D:\MSSQL\Data\"
:setvar DefaultLogPath "D:\MSSQL\Data\"

GO
:on error exit
GO
/*
Detect SQLCMD mode and disable script execution if SQLCMD mode is not supported.
To re-enable the script after enabling SQLCMD mode, execute the following:
SET NOEXEC OFF; 
*/
:setvar __IsSqlCmdEnabled "True"
GO
IF N'$(__IsSqlCmdEnabled)' NOT LIKE N'True'
    BEGIN
        PRINT N'SQLCMD mode must be enabled to successfully execute this script.';
        SET NOEXEC ON;
    END


GO
USE [$(DatabaseName)];


GO
PRINT N'Altering [data].[PopulateAction_v2]...';


GO
ALTER PROCEDURE [data].[PopulateAction_v2]
AS
SET IDENTITY_INSERT [dbo].[Action] ON;

;WITH cte_data 
as (SELECT CAST([ActionId] as tinyint) as [ActionId], [ActionName], [UpdatedOn], [UpdatedBy] FROM 
(VALUES
	  (1,	'View',		GETDATE(),	null)
	, (2,	'Add',		GETDATE(),	null)
	, (3,	'Edit',		GETDATE(),	null)
	, (4,	'Delete',	GETDATE(),	null)
	, (5,	'Merge',	GETDATE(),	null)
) as v ([ActionId], [ActionName], [UpdatedOn], [UpdatedBy]) )

MERGE [dbo].[Action] as t
using cte_data as s
	ON t.[ActionId] = s.[ActionId]
WHEN NOT MATCHED BY target THEN
	INSERT ([ActionId], [ActionName], [UpdatedOn], [UpdatedBy])
	VALUES (s.[ActionId], s.[ActionName], s.[UpdatedOn], s.[UpdatedBy])
WHEN MATCHED THEN 
	UPDATE SET 
	[ActionName] = s.[ActionName], [UpdatedOn] = s.[UpdatedOn], [UpdatedBy] = s.[UpdatedBy]
WHEN NOT MATCHED BY source THEN
	DELETE
;

SET IDENTITY_INSERT [dbo].[Action] OFF;
GO
PRINT N'Refreshing [data].[PopulateAllData]...';


GO
EXECUTE sp_refreshsqlmodule N'[data].[PopulateAllData]';


GO
/*
--------------------------------------------------------------------------------------
Post-Deployment Script
--------------------------------------------------------------------------------------
*/
--Option 3
EXECUTE [data].[PopulateAllData];


--Or JUST: Option 3'
--EXECUTE [data].[PopulateAllData];
GO

GO
PRINT N'Update complete.';


GO

